.hidden {
    display: none;
}
.show {
  display: inline-flex;
}

* {
    background-color: white;
    color: #490b3d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    box-sizing: border-box;
    align-items: center;

}
header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}


button {
    display: block;
    border: none;
    border-radius: 50px;
    margin-left: 40%;
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 200px;
    padding-top: 2px;
}
button:hover {
    color: #dddfd4;
    background-color: #bd1e51;
    cursor: pointer;
    flex-direction: column;
}
.timer {
    display: inline;
    text-align: right;
}
/* Start Page */
#start-container {
    flex-direction: column;
    text-align: center;
    margin: 15%;
    font-size: 20px;
}
h2 {
    color: #bd1e51;
    padding-bottom: 10px;
    font-size:xx-large;
}
.start-btn {
    border-radius: 20px;
    color: #dddfd4;
    background-color: #bd1e51;
    flex-direction: column;
    font-size: 25px;
    border: none;
   
}
.start-btn:hover {
    color: #490b3d;
    background-color: #f1bb14;
}
#high-score-btn {
    border-radius: 50px;
    height: 25px;
    width: 150px;
    border: none;
    margin: 13px;
    font-size: 15px;
    background-color: #f1bb14;
    color: #490b3d;
}
#high-score-btn:hover {
    background-color: #bd1e51;
    color: #dddfd4;
    cursor: pointer;
}
#question-container {
    font-size: 30px;
    margin:20px;
}
.submit-btn {
   margin-left: 10%;
}
.btn {
   margin-left: 10%;
}